# Database
# Dev (SQLite):
DATABASE_URL="file:./dev.db"
# Prod (PostgreSQL):
# DATABASE_URL="postgresql://user:password@localhost:5432/yunmeng?schema=public"

# Auth
NEXTAUTH_SECRET="please-change-this-to-a-long-random-string"
NEXTAUTH_URL="http://localhost:3000"

# Payment
PAYMENT_MODE="mock"
# PAYMENT_MODE="alipay"
# ALIPAY_APP_ID=
# ALIPAY_PRIVATE_KEY=
# ALIPAY_PUBLIC_KEY=
# ALIPAY_NOTIFY_URL=
